.answerWrap {
    display: flex;
    border-bottom: 1px solid #E3E6E8;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.answerMainWrap {
    margin: 0px 30px;
    h3{
        font-size: 15px;
        line-height: 22px;
    }

}