/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Segoe UI';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: inherit;
}
button{
	border: 0px solid transparent;
};
*::-webkit-scrollbar {
	display: none;
}
.pagination-ul{
	display: flex;
	margin-bottom: 50px;
	margin-left: 15px;
}
.pageButton{
	padding:5px 9px;
    border: 1px solid #D6D9DC;
    background-color: transparent;
    border-radius: 3px;
    margin-right: 4px;
    cursor: pointer;
}
.pageButton:hover{
    background-color: #D6D9DC;
}
.switchPage{
    padding:5px 9px;
    border: 1px solid #D6D9DC;
	margin-right: 4px;
    background-color: transparent;
    border-radius: 3px;
    cursor: pointer;
}
.switchPage:hover{
    background-color: #D6D9DC;
}

.currentPage{
	background-color: #F48225;
    color: white;
    cursor: default;
}