.detailPageWrap {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1264px;
    .detailPageNavbar{
        width: 164px;
        min-width: 164px;
        background-color: #e8e7e3;
        @media screen and (max-width: 640px) {
            display: none;
        }
    }
}

.detailPageAside{
    width: 300px;
    min-width: 300px;
}

.detailPage{
    width: 100%;
    margin-top: 10px;
    padding: 24px;
    max-width: 1100px;
    border-left: 1px solid #E3E6E8;
}

.detailHeadWrap{
    margin-bottom: 16px;
    border-bottom: 1px solid #E3E6E8;
}

.detailTitleWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
    h1{
        font-size: 23px;
        color: #4A4F53;
        
    }

    button{
        font-size: 13px;
        white-space: nowrap;
        cursor: pointer;
        width: 98px;
        height: 37px;
        padding: 10px;
        color: white;
        background-color: #0A95FF;
        border-color: transparent;
        border-radius: 3px;
        box-shadow: rgba(255,255,255,0.4) 0px 2px 0px 0px inset;
    }
    button:hover{
        background-color: #0074CC;
    }
}

.detailDateWrap {
    display: flex;
    margin-bottom: 20px;
    p {
        color: #6A737C;
    }

    .detailDateValue{
        color: #232629;
        margin: 0px 15px 0px 7px;
    }
}

.detailBodyWrap{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.detailAside{
    width: 400px;
    @media screen and (max-width: 980px) {
        display: none;
    }
}

.detailContentWrap{
    max-width: 770px;
}

.yourAnswer{
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.postAnswerBtn{
    margin-top: 26px;
    margin-bottom: 50px;
    font-size: 13px;
    cursor: pointer;
    width: 122px;
    height: 37px;
    padding: 10px;
    color: white;
    background-color: #0A95FF;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: rgba(255,255,255,0.4) 0px 2px 0px 0px inset;
}
.postAnswerBtn:hover{
    background-color: #0074CC;
}

.detailBodyWrap{
    display: flex;
}