.loginPage{
  width: 100%;
  max-width: 1264px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  .logo{
    width: 43px;
    height: 50px;
    background-image: url(../assets/imgs/sprites.svg);
    background-position: 8px 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 10px;
  }
}