.questionPage {
    margin-top: 30px;
}

.headAddWrap{
    display: flex;
    justify-content: space-between;
    h1{
        margin-left: 20px;
        font-size: 27px;
    }

    button{
        font-size: 12px;
        cursor: pointer;
        width: 98px;
        height: 37px;
        padding: 10px;
        color: white;
        background-color: #0A95FF;
        border-color: transparent;
        border-radius: 3px;
        box-shadow: rgba(255,255,255,0.4) 0px 1px 0px 0px inset;
    }
    button:hover{
        background-color: #0074CC;
    }
}

.countFilterWrap{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    span{
        margin-left: 20px;
        position: relative;
        top: 15px;
    }

    .filterBtns{
        button{
            background-color: white;
            color: #8188C1;
            font-size: 12px;
            height: 35px;
            padding: 0px 10px;
            cursor: pointer;
        }
        button:nth-child(1) {
            border: 1px solid #838C95;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        button:nth-child(2) {
            border-top: 1px solid #838C95;
            border-bottom: 1px solid #838C95;
        }
        button:nth-child(3) {
            border: 1px solid #838C95;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        button:hover{
            background-color: #F8F9F9;
        }
    }
}