
p {
    font-size: 13px;
}

.questionBox{
    position: relative;
    display: flex;
    max-width: 774px;
    padding: 18px;
    border-bottom: 1px solid #D6D9DC;
}

.question_sideBox {
    margin: 0px 0px 0px 10px;
    display: flex;
    position: absolute;
    left:10px;
    width: 80px;
    flex-direction: column;
    align-items: end;
    white-space: nowrap;
    color: #0C0D0E;
    p:nth-child(1) {
        margin-bottom: 10px;
    }
    p:nth-child(2) {
        margin-bottom: 10px;
    }
}

.question_mainBox {
    margin-left: 100px;
    h2 {
        font-size: 17px;
        color: #009FE2;
        margin-bottom: 5px;
    }

    h2:hover {
        color: #56C0FF;
        cursor: pointer;
    }
    p {
        color: #3B4045;
        line-height: 17px;
    }
}

.question_bottomBox {
    margin-top: 10px;
}

.questionList_profile {
    display: flex;
    position: absolute;
    right: 10px;
    bottom:0px;
    margin: 10px 0px;
    font-size: 12px;
    img {
        width: 16px;
        margin-right: 5px;
        cursor: pointer;
    }
    p:nth-child(2) {
        color: #009FE2;
        margin-right: 5px;
    }
    p:nth-child(2):hover {
        color: #56C0FF;
        cursor: pointer;
    }
    p:nth-child(3) {
        color: #6A737C;
    }
}

@media (max-width: 980px) {
    .question_sideBox {
        margin: 0px 0px 0px 0px;
        display: flex;
        position: static;
        left:0px;
        width: 0px;
        flex-direction:row;
        align-items:flex-start;
        white-space: nowrap;
        p:nth-child(1) {
            margin-right: 10px;
        }
        p:nth-child(2) {
            margin-right: 10px;
        }
    }
    
    .question_mainBox {
        margin-top: 20px;
        margin-left: 0px;
    }
}


