.voteWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voteUp {
    width: 0;
    height: 0;
    border-bottom: 17px solid #BABFC4;
    border-top: 17px solid transparent;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

.clickUp{
    border-bottom: 17px solid #F48225;
}

.voteCount {
    font-size: 21px;
    margin: 20px 0px;
}

.voteDown {
    width: 0;
    height: 0;
    border-bottom: 17px solid transparent;
    border-top: 17px solid #BABFC4;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    padding: 0px;
    background-color: transparent;
    cursor: pointer;
}

.clickDown{
    border-top: 17px solid #F48225;
}

.etcBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BABFC4;
    cursor: pointer;
    i {
        margin-bottom: 15px;

    }
}