.logoArea{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  :hover{
    background-color: rgba(226, 230, 233, 1);
  }
  .logo{
    width: 160px;
    height: 100%;
    background-image: url(../../../../assets/imgs/sprites.svg);
    background-position: 8px -490px;
    :hover{
      background-color: rgba(226, 230, 233, 1);
    }
    cursor: pointer;
  }

}
