.btnArea{
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
  .btn{
    padding: 0.6em 0.6em;
    font-size: 13px;
    outline: none;
    border: 1px solid #76a7cd;
    border-radius: 3px;
  }
  .btnColor1{
    color: #76a7cd;
    background-color: #e2ecf5;
    cursor: pointer;
  }
  .btnColor1:hover{
    background-color: #b6dcff;
  }
  .btnColor2{
    color: white;
    background-color: #0b96ff;
  }
  .btnColor2:hover{
    background-color: #0072c8;
  }


}