.googlebtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  padding: 10px;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 10px;
  .btnIcon{
    font-size: 18px;
    margin-right: 5px;
  }
}
.googlebtn:hover{
  background-color: rgb(242, 242, 242);
}